<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/fonts/vag_world_bold.css" />
		<link rel="stylesheet" href="../static/css/style1.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script src="../static/js/script.js"></script>
		<title>SMOKES OR NOT</title>
	</head>
	<body class="bubbles">
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div>
			<header>
				<h1>ИИ для детекции курящего человека</h1>
			</header>
		</div>
		<div>
			<div class="exchange">
				<div class="download-file">
					<form action="/" method="POST" enctype="multipart/form-data" id="choose-file">
						<div class="files">
							<label class="files-field">
								<input type="file" name="file" id="files" accept="image/*,video/*" />
								<h2>
									Выберите файл <br />
									фото
								</h2>
							</label>
							<label>
								<div class="exchange-animation">
									<img src="../static/img/free-icon-exchange.png" alt="" />
									<button type="submit" id="send">
								</div>
							</label>
						</div>
					</form>
				</div>
				<div class="result">
					{% if not base %}
					<h2>Результат</h2>
					{% endif %}
					{% if base %}
					<img src="{{ base }}">
					{% endif %}
				</div>
			</div>
		</div>
		<script>
			window.scrollTo({ top: 0, behavior: 'smooth' })
		</script>
	</body>
</html>
